.container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  padding: 10px 20px;
  overflow: auto;

  background-color: var(--card-background-color);  
  animation: pulsing-glow 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) infinite alternate;

  @media screen and (min-width: 600px) {
    margin: 0 20px;
    border-radius: 16px;
  }
  
  @media screen and (min-width: 768px) {
    margin: 0 40px;
  }  
}

.table {
  border-collapse: collapse;
  overflow: hidden;

  tr {
    &:nth-child(even) {
      background-color: rgba(var(--foreground-color-rgb), 0.1);
    }
  }
}

@keyframes pulsing-glow {
  0% {
    box-shadow: -1px 0px 19px 0px rgba(var(--primary-color-rgb),0.75);
  }
  100% {
    box-shadow: -1px 0px 19px -3px rgba(var(--primary-color-rgb),0.75);
  }
}