:root {
  // Fonts
  --font-family: "Ubuntu Mono", monospace;

  // Colors
  --background-color: #000000;
  --background-color-rgb: 0, 0, 0;
  --card-background-color: #0f0e00;
  --card-background-color-rgb: 15, 14, 0;
  --foreground-color: #edecee;
  --foreground-color-rgb: 237, 236, 238;
  --primary-color: #FFE81F;
  --primary-color-rgb: 255, 232, 31;
  --secondary-color: #a277ff;
  --secondary-color-rgb: 162, 119, 255;
  --tertiary-color: #61ffca;
  --tertiary-color-rgb: 97, 255, 202;

  // Shadows
  --text-shadow: 0px 4px 4px rgba(var(--primary-color-rgb),0.75);
}


